<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Formulario </title>
</head>

<body>
    <h2> Vista de Formulario </h2>
    <a href="/consulta"> Abrir vista Consulta </a>

    <br>
    <br>
    <br>

        {% with mensajes = get_flashed_messages()%}
            {% if mensajes%}
                {% for msj in mensajes %}
                    <h4>{{ msj }}</h4>
                {%endfor%}
            {% endif %}
        {% endwith%}

    <form action="/guardarAlbum" method="post">
        
        <input type="text" name="txtTitulo" placeholder="Titulo">
        <input type="text" name="txtArtista" placeholder="Artista">
        <input type="number" name="txtAnio" placeholder="Anio de publicacion">
        <button type="submit"> Guardar Album</button>
    </form>
</body>
</html>