{% extends "plantillas.html" %}

{% block body %}


<h2>Registro de Album</h2>
<br>
{% with mensajes = get_flashed_messages() %}
{% if mensajes %}
    <div class="alert alert-info">
        <ul>
        {% for mensaje in mensajes %}
            <li>{{ mensaje }}</li>
        {% endfor %}
        </ul>
    </div>
{% endwith %}


<from method="POST" action="{{ url_for('album.registrar') }}" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre del Album</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>
    <div class="mb-3">
        <label for="artista" class="form-label">Artista</label>
        <input type="text" class="form-control" id="artista" name="artista" required>
    </div>
    <div class="mb-3">
        <label for="genero" class="form-label">Género</label>
        <input type="text" class="form-control" id="genero" name="genero" required>
    </div>
    <div class="mb-3">
        <label for="fecha_lanzamiento" class="form-label">Año</label>
        <input type="date" class="form-control" id="fecha_lanzamiento" name="fecha_lanzamiento" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar Album</button>


    <div